body
{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-feature-settings: normal;
    font-size: 1rem;
    line-height: 1.375;
    color: black;
    margin: 1rem 0 1.5rem 0;
    padding-bottom: 1.5rem;

}
.img1
{
transform-origin: 0px 0px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
nav li1
{
display: inline;
margin-left: 100px;

} 
